<ul class="large-block-grid-6 small-block-grid-2 list">
  {{#each pagedContent key="@index" as |item|}}
    <li>
      {{#link-to 'item' item (query-params sortBy=sortBy categoryId=category) }}
        <img src="{{item.displayImageUrl}}" />
        <li>{{item.donorDescription}}</li>
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{#if showPaginationBar}}
  {{page-numbers content=pagedContent}}
{{/if}}
