@font-face {
  font-family: 'Museo700';
  src: url("fonts/museo_700.eot");
  src: url("fonts/museo_700.eot?#iefix") format("embedded-opentype"),
      url("fonts/museo_700.woff") format("woff"),
      url("fonts/museo_700.ttf") format("truetype"),
      url("fonts/museo_700.svg#museo_700") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSans300';
  src: url("fonts/museo_sans_300.eot");
  src: url("fonts/museo_sans_300.eot?#iefix") format("embedded-opentype"),
  url("fonts/museo_sans_300.woff") format("woff"),
  url("fonts/museo_sans_300.ttf") format("truetype"),
  url("fonts/museo_sans_300.svg#museo_sans_300") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSans700';
  src: url("fonts/museo_sans_700.eot");
  src: url("fonts/museo_sans_700.eot?#iefix") format("embedded-opentype"),
  url("fonts/museo_sans_700.woff") format("woff"),
  url("fonts/museo_sans_700.ttf") format("truetype"),
  url("fonts/museo_sans_700.svg#museo_sans_700") format("svg");
  font-weight: normal;
  font-style: normal;
}
