.reveal-modal, .reveal-modal#errorModal {
  background-color: $light-grey;
  color: black;
  height: initial;
  padding-bottom: inherit;
  min-height: 0rem;
  position: fixed;

  @media #{$small-only} {
    top: 1rem !important;
  }

  @media #{$medium-only} {
    width: 25rem;
  }
  a{
    background-color: $coral-red;
    color: $white;
  }
  .ok, .action2 {
    margin-right: 0.5rem;
    margin-bottom: 1.25rem;
   }
}

.reveal-modal-bg {
  display: block;
}

#displayNotice{
  color: #f34d4f;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
#messageBox {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 112px;

  .button {
    margin-left: 10px;
    text-decoration: none;
  }

  .item-collection {
    overflow: auto;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .closeLink {
    color: black !important;
    background-color: inherit !important;
    text-decoration: underline;
    padding: 0 0 0.65rem 0.7rem;
    font-size: 0.8rem;
  }
}

.popupOverlay {
  .ui {
    padding: 0;
  }

  textarea {
    margin: 0;
    max-width: 100%;
    padding: 0.5rem;
    overflow: hidden;
    margin-top: 0.5rem;
  }

  input {
    margin-bottom: 1rem;
  }

  #messageBox {
    top: 20% !important;

    @media #{$small-only} {
      padding: 1rem;
    }

    p {
      width: 100%;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;

      @media #{$small-only} {
        font-size: 0.9rem;
      }
    }
  }
}
