ul.pagination {
  margin-top: 2.6rem;

  .highlight_btn{
    background: $coral-red;
    color: $white;
    border-radius: 0px;
  }

  .active a{
    @extend .highlight_btn;
  }

  li{
      background: $light-blue;
      margin: 0 -0.06rem;
      height: 1.4rem;
      a{
        &:hover, &:active{
          transition: background-color 300ms ease-out;
          @extend .highlight_btn;
        }
      }
    }
  }
