ul.pagination {
  margin-top: 2.6rem;
  @media only screen and (min-width: 120.064em) {
    margin-left: 4rem !important;
  }
  .arrow a{
    i{
        font-size: 70%;
    }
    span{
      @media #{$medium-up} {
        display: inline-block !important;
      }
      font-size: 70%;
    }
  }
  .highlight_btn{
    background: $coral-red;
    color: $white;
    border-radius: 0px;
  }

  .active a{
    @extend .highlight_btn;
  }

  li{
      background: $light-blue;
      margin: 0 0 0 0.06rem;
      height: 1.4rem;
      a{
        border-radius: 0px;
        &:hover, &:active{
          transition: background-color 300ms ease-out;
          @extend .highlight_btn;
        }
        &:focus{
          background:inherit;
        }
      }
    }
  }
.filter-list {
  margin-top: .65rem !important;
}
