.transport-detail {
  margin: 3rem .5rem;
  font-size: 1rem;

  @media #{$small-only} {
    font-size: 0.7rem;
    padding: 0 0.1% 0rem 0rem;
    margin: 3rem 0rem;
  }

  .mobile {
    margin-top: 0;
  }

  .row {
    @media #{$small-only} {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  .custom_radio_buttons {
    padding-bottom:0.3rem;
    @media #{$large-only} {
      line-height: 1.5rem;
      // padding: 0.3rem;
    }

    .radio-buttons {
      margin-top: 0.9rem;

      @media #{$small-only} {
        margin-top: 0.3rem;
      }
    }

    input[type=radio] {
      vertical-align: text-top;
      height: 1.2rem;
      width: 1.2rem;
      margin: 0 0 0 0px;
      @media #{$large-only} {
        margin-bottom: 0;
      }
    }
  }

  .radio-button-text {

    @media #{$small-only} {
      font-size: 0.7rem;
      margin-right: 0rem;
    }
  }

  .align-text {
    display: inline;
  }

  select {
    height: 2rem;
    width: 60%;
    @media #{$small-only} {
      max-width: none !important;
      width: 100% !important;
    }

  }

  .name, div {
    cursor: default;
  }

  .name {
    font-size: 0.9rem;
    padding-bottom: .5rem;
    font-weight: bold;
    color: white;
  }

  .collection {
    margin-top: 1rem;
  }

  .time_inputs {
    margin-top: .5rem !important;

    .time_selector {
      padding-top: 0.5rem;
      padding-left: 0 !important;
      float: left;
      position: relative !important;
      width: 50%;

    }
    .time_icon {
      position:absolute;
      color:#555;
      position: absolute;
      float: right;
      display: inline;
      font-size: 1.7rem;
      margin-right: -4.6rem;
      margin-top: -2.8rem;
      margin-left: 42%;

      @media #{$small-only} {


        margin-left: 68%;
      }
      //  @media #{$medium-only} {
      //   font-size: 1.7rem;
      //   margin-top: -3.3 rem;
      //   margin-left: 80%;
      // }

      .font-awesome-margin{
        margin-top: 0.1rem;
      }
    }
    .radio-button-text {
      margin-left: 0.4rem;
      margin-bottom: 0.1rem;
    }
  }

  .order_button {
    margin-top: 1rem !important;
    button {
      font-size: 0.9rem;
    }
    .columns {
      padding: 0;
    }
  }

  .location-dropdown {
    .territory-select {
      padding-left: 0 !important;
    }
  }
}

.book-van {
  .checkbox {
    margin: .5rem 0;

    @media #{$small-only} {
      margin: 0.2rem;
    }

    label::before {
      top: 5px;
    }
    span {
      @media #{$large-only} {
        margin-left: 0.5rem;
      }

      line-height: 1.5rem;
    }
  }

  .radio_selection {
    margin-left: 2.2rem;

    .radio-button-text {
      vertical-align: text-center;
      margin-right: -5rem;
    }
  }
}

.radio-buttons {
  display: table;
  width: 100%;
  margin: rem-calc(0 0 20 0);
  padding: 0;
  border-spacing: 0.1rem;
  color: white;
  table-layout: fixed !important;
  height: 3.2rem;

  @media #{$small-only} {
    height: 2.7rem;
  }

  .active {
    background: $coral-red;
    border: 1px solid $coral-red;
  }

  li {
    border: solid 1px white;
    vertical-align: middle;
    text-align: center;
    @media #{$small-only} {
      margin: 0.1rem;
      padding: 0.1rem;
      font-size: 0.68rem !important;
    }

    .radio {
      vertical-align: middle;
      text-align: center;
      padding: 0.335rem;
    }
  }

  .radio-wrap {
    position: relative;
    display: block;
    margin-bottom: 0;
    font-weight: normal;
    margin: rem-calc(0 1) !important;
    padding: rem-calc(9 5);
    color: $white;
    /* font-size: rem-calc(15) !important; */
    width: 90%;
    text-align: center;
  }

  .radio {
    display: table-cell;
    padding: rem-calc(0 1);

    &:first-child {
      padding-left: 0 !important
    }

    &:last-child {
      padding-right: 0 !important
    }
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label  {
    background: $coral-red;
    border: 1px solid $coral-red;
  }

}

.ggv-price-box {
  height: 5rem;
  background: #1A3964;
  width: 7rem;
  margin-top: 1rem;
  padding: 0.2rem;
  font-size: 0.6rem;

  .price-text {
    text-align: center;
    span {
      color: white;
      font-size: 0.75rem;
    }
  }

  .ggv_logo {
    padding: 0 !important;
    padding-top: 0.2rem !important;

    img {
      width: 2rem;
      height: 2rem;
      max-width: none;
    }
  }

  .ggv_link {
    padding-top: 0.4rem;
    text-decoration: underline;
  }
}

#TransportMessageBox #messageBox{
  color: #f34d4f !important;
  width: 50% !important;
  top: 10%!important;
  @media #{$small-only} {
    top: 0% !important;
  }
  .button {
    margin-right: 41% !important;
    @media #{$medium-only} {
      margin-right: 42% !important;
    }
    @media #{$small-only} {
      margin-right: 35% !important;
    }
  }

  .important_text, .reserved_text{
    color: #f34d4f !important;
    font-weight: bold;
  }

  @media #{$small-only} {
    padding: 1rem;
    width: 100% !important;
  }

  @media #{$medium-only} {
    width: 75% !important;
  }

  div {
    color: #f34d4f !important;
    width: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;

    @media #{$small-only} {
      font-size: 0.8rem;
    }
  }
}
