.transport-detail {
  margin: 3rem .5rem;
  font-size: 1rem;

  @media #{$small-only} {
    font-size: 0.7rem;
    padding: 0 .5rem 0rem 0rem;
  }

  .mobile {
    margin-top: 0;
  }

  .row {
    @media #{$small-only} {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  select {
    width: 100%;
    max-width: none;
  }

  .name, div {
    cursor: default;
  }
  .name {
    font-size: 0.9rem;
    padding-bottom: .5rem;
    font-weight: bold;
    color: white;
  }
  .collection {
    margin-top: 1rem;
  }
  .radio-button {
    margin-top: 0.2rem;

    @media #{$small-only} {
      margin-top: 0.3rem;
    }

    input[type=radio] {
      height: 1.2rem;
      width: 1.2rem;
    }
  }
  .radio-button-text {
    @media #{$small-only} {
      font-size: 0.9rem;
      line-height: 1.6rem;
    }
  }
  .time_inputs {
    margin-top: .5rem !important;

    .date_selector {
      padding-left: 0 !important;
      input {
        background: white;
        font-size: 0.8rem;
      }
      .calender_icon{
        float: right;
        display: inline;
        font-size: 1.3rem;
        margin-right: 1.2rem;
        margin-top: -2.8rem;

        @media #{$small-only} {
          margin-right: 1rem;
          font-size: 1.1rem;
          margin-top: -2.9rem;
        }
      }
    }
    .time_icon {
      position: absolute;
      float: right;
      display: inline;
      font-size: 1.7rem;
      margin-right: -4.6rem;
      margin-top: -3.05rem;
      margin-left: 7.85rem;

      @media #{$small-only} {
        font-size: 1.3rem;
        margin-right: -4.6rem;
        margin-top: -2.9rem;
      }
    }
  }

  .order_button {
    margin-top: 1rem !important;
    button {
      font-size: 0.9rem;
    }
    .columns {
      padding: 0;
    }
  }

  .location-dropdown {
    .territory-select {
      padding-left: 0 !important;
    }
  }
}

.radio-buttons {
  display: table;
  width: 100%;
  margin: rem-calc(0 0 20 0);
  padding: 0;

  border-spacing: 0.1rem;
  color: white;
  table-layout: fixed !important;
  height: 3.2rem;

  @media #{$small-only} {
    height: 2.7rem;
  }

  .active {
    background: $coral-red;
    border: 1px solid $coral-red;
  }

  li {
    border: solid 1px white;
    vertical-align: middle;
    text-align: center;
    @media #{$small-only} {
      margin: 0.1rem;
      padding: 0.1rem;
      font-size: 0.68rem !important;
    }

    .radio {
      vertical-align: middle;
      text-align: center;
      padding: 0.335rem;
    }
  }

  .radio-wrap {
    position: relative;
    display: block;
    margin-bottom: 0;
    font-weight: normal;
    margin: rem-calc(0 1) !important;
    padding: rem-calc(9 5);
    color: $white;
    /* font-size: rem-calc(15) !important; */
    width: 100%;
    text-align: center;
  }

  .radio {
    display: table-cell;
    padding: rem-calc(0 1);

    &:first-child {
      padding-left: 0 !important
    }

    &:last-child {
      padding-right: 0 !important
    }
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label  {
    background: $coral-red;
    border: 1px solid $coral-red;
  }

}
