.list {
  margin: 0;
  padding: 0;
  list-style: none;

  .main_category {
    font-weight: bold;
    a {
      text-decoration: none;
      &:hover {
        color: $medium-blue !important;
      }
    }
  }

  &.subcategories {
    font-size: 0.9rem;

    a {
      color: $medium-blue !important;
      &:hover {
        li {
          color: $white;
        }
      }
    }
  }

  img {
    padding: 1rem 0;
  }
}

// CATEGORY PAGE

.tab-bar.category_page {
  height: 8rem;
}

.items_list {
  div:last-child {
    float: left !important;
  }
}

select {
  width: 10rem;
}
