.hidden {
  display: none !important;
}

.view-item {
  &.main-section {
    padding-top: 1rem;
  }

  .item_name {
    color: $white;
    font-weight: bold;
    font-size: 1rem;
  }

  .item_details {
    font-size: 0.8rem;
  }

  .view-image {
    display: block;
    padding-bottom: 1rem;
  }

  .thumb-image {
    margin-bottom: 0.5rem;
    cursor: pointer;
  }

  .images-section {
    @media #{$small-only} {
      margin-bottom: 1rem;
    }

    @media #{$large-only} {
      padding-right: 4rem;
    }
  }

  .image-src {
    display: inline-block;
  }

  #lightGallery {
    cursor: pointer;
    text-decoration: underline;
  }
}
