.loading-indicator {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.5);
  > div {
    position:fixed;
    top:50%;
    left:0px;
    width: 100%;
    margin-top: -20px;
    text-align:center;
    font-size: 2.5rem;
    color: white;

    @media #{$small-only} {
      font-size: 1.5rem;
    }
  }
}
