.checkout_pages {
  &.row {
    margin-right: 0;
  }
}

.login-page {
  .tab-bar-section {
    padding: 0;
  }

  .organisation-detail {
    margin: 1rem 0 0 0.4rem;
    padding: 2rem 1.5rem 2rem 2rem;
    background-color: #1A3964;
    font-size: 0.9rem;
    @media #{$small-only} {
      font-size: 0.8rem;
      padding: 1.5rem .5rem 1.5rem 1.5rem;
      width: 93.5%;
    }
    .detail{
      .name, div {
        cursor: default;
      }
      .name {
        padding-bottom: .5rem;
        font-weight: bold;
        color: white;
      }
    }
  }

  .tab-bar {
    margin-top: 3rem;
    @media #{$small-only} {
      margin-top: 1rem;
    }
  }
}

.purpose_section {
  margin: 1rem 0;

  @media #{$small-only} {
    font-size: 0.8rem;
  }

  .title {
    color: white;
    margin-bottom: 0.5rem;
  }

  .checkbox {
    padding: 0.5rem 0;
    font-size: 0.75rem;

    label {
      margin-left: 0;

      @media #{$small-only} {
        font-size: 0.75rem;
      }
    }
  }

  textarea {
    margin-top: 1rem;
    width: 97%;
    padding: 0.3rem 0.5rem;
    border: 1px solid $tabbar-menu-icon-color;
    padding-right: 1.5rem;

    @media #{$small-only} {
      font-size: 0.8rem;
    }
  }

  .remove-text{
    position: absolute;
    right: 4%;
    font-size: 1rem;
    padding: 0.4rem 0.3rem;
    cursor: pointer;
    color: black;
  }
}
.order_button {
  width: 99% !important;

  @media #{$small-only} {
    font-size: 0.8rem
  }

  button {
    @media #{$small-only} {
      font-size: 0.8rem !important;
    }
  }

  a {
    line-height: 2.5rem;
  }
}

.error-box {
  padding: .3rem .3rem .3rem 1rem;
  margin: 1rem 0;
  background: #fddbdc !important;
  color: black;
  width: 90%;

  @media #{$small-only} {
    margin: .5rem 0;
  }

  i {
    color: red;
  }
}

.mobile {
  margin-top: 2rem;

  span {
    position: absolute;
    color: #000;
    width: 4rem;
  }

  input {
    &#mobile {
      padding-left: 4rem;
    }

    font-size: 1rem;
    color: black;
  }

  label.form-label {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }

  a {
    text-decoration: underline;
    color: inherit;
    font-size: initial;
  }
}
