.tab-bar.category_page {
  height: 6rem;
  @media #{$small-only} {
    height: 6.5rem;
  }
  @media only screen and (min-width: 120.1em) {
    margin-left: 4rem !important;
  }
}

.items_list {
  li {
    padding: 0 0.5rem;
  }
}

select {
  width: 10rem;
  @media #{$small-only} {
    max-width: 7rem;
  }
}

#lightGallery {
  img.cl-loading-img{
    max-width: 265px;
    max-height: 283px;
  }

  .small-screen-preview {
    img.cl-loading-img{
      height: 18rem;
      margin-left: 25%;
    }
  }
}

.item_desc{
  @media #{$medium-up} {
    min-height: 2.9rem;
  }
}

.main-section.category-items-list{
  @media #{$small-only} {
    padding-left: 0rem;
  }
}
