.tab-bar.category_page {
  height: 6rem;
  @media #{$small-only} {
    height: 9rem;
  }
}

.items_list {
  li {
    padding: 0 0.5rem;
  }
}

select {
  width: 10rem;
  @media #{$small-only} {
    max-width: 7rem;
  }
}
