{{#unless screenresize.isSmallScreen}}
  <div class="large-5 medium-5 columns cart-section">
    <section class="main-section">
      {{partial "cart_content/items"}}
    </section>
  </div>
{{/unless}}
