{{#unless screenresize.isSmallScreen}}
  <div class="large-5 medium-5 columns cart-section">
    <section class="main-section">
      {{#each cart.cartItems as |record|}}
        <li>
          <div class="row">
            <div class="large-3 medium-3 columns">
              <img class="thumb-image" src="{{record.favouriteImage.cartImageUrl}}" />
            </div>

            <div class="large-9 medium-9 columns">
              {{record.packageType.name}}
            </div>
          </div>
        </li>
      {{/each}}
    </section>
  </div>
{{/unless}}
