{{#if screenresize.isSmallScreen}}

  <div class="show_cart_summary" {{action "toggleCartSummary"}}>
    <i class="fa fa-truck cart-icon" aria-hidden="true"></i>
    {{t 'order.cart_details.cart_summary'}}
  </div>

  {{#if showCartSummary}}
    <div class="small-12 columns cart-section small-cart-view">
      {{partial "cart_content/items"}}
    </div>
  {{/if}}
{{/if}}
