{{#each cart.content as |record|}}
  <li>
    <div class="row">
      <div class="large-3 medium-3 columns">
        <img class="thumb-image {{unless record.available 'grayed-image'}}" src="{{record.imageUrl}}" />
      </div>

      <div class="large-9 medium-9 columns">
        {{record.name}}

        {{#unless record.available}}
          <div class="unavailable">Sorry! This item is no longer available.</div>
        {{/unless}}
      </div>
    </div>
  </li>
{{/each}}
