<div class="row order_button">
  <div class="small-4 columns">
  </div>
  <div class="small-8 columns cancel_order">
    <button id="cancel_order" class="button expand drop_off" {{action 'cancelOrderPopUp' order.id}}>
      {{t "order.cancel_order"}}
    </button>
  </div>
</div>
