<div class="small-12 large-5 columns cart-section">
  <section class="main-section">
    {{#each cart.cartItems as |record|}}
      <li>
        <div class="row">
          <div class="small-3 columns">
            <img class="thumb-image" src="{{record.favouriteImage.cartImageUrl}}" />
          </div>

          <div class="small-9 columns">
            {{record.packageType.name}}
          </div>
        </div>
      </li>
    {{/each}}
  </section>
</div>
