<div class = "confirmation-detail small-12 columns">
  <div class="detail">
    <div class="row">
      <div class="name small-4 columns">Transport method:</div>
      <div class="small-8 columns">Hired van delivery(GoGoVan)</div>
    </div>
    <div class="row">
      <div class="name small-4 columns">Date / Time:</div>
      <div class="small-8 columns">28th September</div>
    </div>
    <div class="row">
      <div class="name small-4 columns">Delivery district:</div>
      <div class="small-8 columns">Kowloon, Mei foo</div>
    </div>
    <div class="row">
      <div class="name small-4 columns">Vehicle type:</div>
      <div class="small-8 columns">5.5 Tonne Truck</div>
    </div>
    <div class="row">
      <div class="name small-4 columns">Extra requirements:</div>
      <div class="small-8 columns">Borrow trolley; Speak English</div>
    </div>
    <div class="row">
      <div class="name small-4 columns">Contact:</div>
      <div class="small-8 columns">James Chan, 6111 1111</div>
    </div>
  </div>
</div>
