<nav class="tab-bar">
  <section class="tab-bar-section">
    <h1 class="title">GoodCity Order</h1>
  </section>
</nav>

<div class="navigation_list">
  {{#link-to "cart" classNames="cart_link"}}Cart{{/link-to}} >

  {{#unless session.isLoggedIn}}
    <a class="active">Log in</a> >
    Order details >
    Transport details >
    Confirm
  {{else}}
    {{#link-to "order_details"}}Order details{{/link-to}} >

    {{#if order}}
      {{#link-to "order.transport_details" order}}Transport details{{/link-to}} >
    {{else}}
      Transport details >
    {{/if}}

    {{#if order.orderTransport}}
      {{#link-to "order.confirm" order}}Confirm{{/link-to}}
    {{else}}
      Confirm
    {{/if}}

  {{/unless}}
</div>

{{small-cart-toggle-view}}
