<nav class="tab-bar">
  <section class="tab-bar-section">
    <h1 class="title">GoodCity Order</h1>
  </section>
</nav>

<div class="navigation_list">
  {{#link-to "cart" classNames="cart_link"}}Cart{{/link-to}} >

  {{#unless session.isLoggedIn}}
    <a class="active">Log in</a> >
    Order details >
  {{else}}
    {{#link-to "order_details"}}Order details{{/link-to}} >
  {{/unless}}

  Transport details >
  Confirm
</div>

{{small-cart-toggle-view}}
