<div class = "organisation-detail small-12 columns">
  <div class="detail">
    <div class="row">
      <div class="name small-4 columns">Organisation:</div>
      <div class="small-8 columns">Hong Chi Association</div>
    </div>
    <div class="row">
      <div class="name small-4 columns">Representative:</div>
      <div class="small-8 columns">James Chan</div>
    </div>
    <div class="row">
      <div class="name small-4 columns">Purpose(s):</div>
      <div class="small-8 columns">a distinct section of a piece of writing, usually dealing with a single theme and indicated by a new line, indentation, or numbering.</div>
    </div>
  </div>
</div>
