<div class="row">
  <div class = "organisation-detail small-12 columns">
    <div class="detail">
      <div class="row">
        <div class="name small-4 columns">{{t "order.organisation"}}:</div>
        <div class="small-8 columns">Hong Chi Association</div>
      </div>
      <div class="row">
        <div class="name small-4 columns">{{t "order.representative"}}:</div>
        <div class="small-8 columns">James Chan</div>
      </div>

      {{#if order}}
        <div class="row">
          <div class="name small-4 columns">{{t "order.purpose"}}:</div>
          <div class="small-8 columns">
            {{order.purposeDescription}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
