{{#app-canvas}}
  <div class="row application-layout">
    <div class="large-1 medium-2 columns show-for-medium-up menu-list" id="menu-large">
      {{liquid-outlet "sidebar"}}
    </div>

    <div class="large-11 medium-10 columns collapse no-padding" id="content">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
          <nav class="tab-bar show-for-small">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" href="#">
                <span></span>
              </a>
            </section>
          </nav>
          <aside class="left-off-canvas-menu show-for-small menu-list">
            {{liquid-outlet "sidebar"}}
          </aside>
          <a class="exit-off-canvas"></a>
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
{{/app-canvas}}
