{{#app-canvas}}
  <div class="row application-layout">
    <div class="large-12 medium-12 columns collapse no-padding" id="content">
      <div class="off-canvas-wrap move-right" data-offcanvas>
        <div class="inner-wrap">
          {{outlet "sidebar"}}
          <div class="show-for-small">
            <a class="exit-off-canvas"></a>
          </div>

          {{outlet}}
        </div>
      </div>
    </div>
  </div>
{{/app-canvas}}
