Categories

<ul>
  {{#each parentCategories as |category|}}
    <li>{{category.name}} ({{category.allItems.length}})</li>
    <ul>
      {{#each category.childCategories as |childCategory|}}
        <li>{{childCategory.name}} ({{childCategory.items.length}})</li>
      {{/each}}
    </ul>
    <br>
  {{/each}}
</ul>
