{{#if displayCart}}
  <div class="reveal-modal-bg">
  </div>

  <div id="messageBox" class="small reveal-modal cart-details-sidebar">
    <p id="messageBoxText">
      <i class="fa fa-truck" aria-hidden="true"></i> Your Request
    </p>

    <div class="row">
      <div class="small-6 columns">
        <a {{action 'displayCart'}} class="button expand secondary">
          Continue Browsing
        </a>
      </div>
      <div class="small-6 columns">
        <a {{action 'displayCart'}} class="button expand">
          Submit Request
        </a>
      </div>
    </div>
  </div>

{{/if}}
