{{#if displayCart}}
  <div class="reveal-modal-bg">
  </div>

  <div id="messageBox" class="small reveal-modal cart-details-sidebar cart-items">
    {{partial "cart_content/full_view"}}
  </div>
{{/if}}
