<nav class="tab-bar category_page">
  <section class='main-section'>
    <h1 class="title">{{model.name}}</h1>

    {{#if model.isParent}}
      {{select-list content=model.childCategories action=(action (mut selectedCategory)) targetActionName="filterItems" prompt="All"}}
    {{/if}}

    {{select-list content=sortOptions action=(action (mut selectedSort)) }}

  </section>
</nav>

<section class="main-section">
  {{#paginated-items content=sortedItems page=page perPage=perPage query=query}}
    {{outlet}}
  {{/paginated-items}}
</section>

