<nav class="tab-bar category_page">
  <section class='main-section ui'>
    <h1 class="title hide-for-small">{{model.name}}</h1>

    <div class="row">
      {{#if model.isParent}}
        <div class="large-5 medium-8 small-12 columns">
          <div class="row">
            <div class="small-4 medium-5 large-4 columns">
              Filter Items:
            </div>
            <div class="small-8 medium-7 large-8 columns">
              {{select-list content=model.childCategories action=(action (mut selectedCategoryId)) targetActionName="filterItems" prompt="All"}}
            </div>
          </div>
        </div>
      {{/if}}

      <div class="large-7 medium-4 small-12 columns end">
        <div class="row">
          <div class="small-4 medium-6 large-2 columns">
            Sort by:
          </div>
          <div class="small-8 medium-6 large-10 columns">
            {{select-list content=sortOptions action=(action (mut selectedSort)) }}
          </div>
        </div>
      </div>
    </div>


  </section>
</nav>

<section class="main-section category-items-list">
  {{paginated-items content=sortedItems page=page perPage=perPage query=query sortBy=currentSort category=currentCategoryId}}
</section>
