<ul class="off-canvas-list menu">

  <li>
    {{#link-to 'browse' class="menu-1"}}
      <i class="fa fa-folder-open"></i>
      <label>Browse</label>
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'browse' class="menu-2"}}
      <i class="fa fa-shopping-cart"></i>
      <label>My Orders</label>
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'browse' class="menu-3"}}
      <i class="fa fa-question"></i>
      <label>FAQ</label>
    {{/link-to}}
  </li>

  <li class='language'>
    {{language-switcher}}
  </li>

  <li class='cr-logo'>
    <a href="http://www.crossroads.org.hk" class="menu-4">
      <img src="/assets/images/Global-Distribution_logo.gif" >
      <label>By Crossroads Foundation</label>
    </a>
  </li>
</ul>
