<div class="large-2 medium-3 columns show-for-medium-up menu" id="menu-large">
  <div class="icon-bar vertical four-up">
    <a href="#" class="menu-1">
      <i class="fa fa-folder-open"></i>
      <label>Browse</label>
    </a>
    <a href="about.html" class="menu-2">
      <i class="fa fa-shopping-cart"></i>
      <label>My Orders</label>
    </a>
    <a href="get_involved.html" class="menu-3">
      <i class="fa fa-question"></i>
      <label>Faq</label>
    </a>
  </div>
  <p class="language">
    <a href="" lang="zh-hant" hreflang="zh-hant">中文</a>
    <a href="">English</a>
  </p>
  <div class="icon-bar vertical one-up cr-logo">
    <a href="http://www.crossroads.org.hk">
      <img src="/assets/images/Global-Distribution_logo.gif" class="show-for-portrait">
      <label>By Crossroads Foundation</label>
    </a>
  </div>
</div>
