<nav class="tab-bar show-for-small">
    <section class="left-small">
      <a class="left-off-canvas-toggle menu-icon" href="#">
        <span></span>
      </a>
    </section>
    <section class="middle tab-bar-section show-for-small">
      <h1>{{pageTitle}}</h1>
    </section>
</nav>
<aside class="left-off-canvas-menu menu-list">
  <ul class="off-canvas-list menu">
    <li>
      {{#link-to "browse" class="menu-1"}}
        <i class="fa fa-folder-open"></i>
        <div>Browse</div>
      {{/link-to}}
    </li>

    <li>
      {{#link-to "browse" class="menu-2"}}
        <i class="fa fa-shopping-cart"></i>
        <div>My Orders</div>
      {{/link-to}}
    </li>

    <li>
      {{#link-to "browse" class="menu-3"}}
        <i class="fa fa-question"></i>
        <div>FAQ</div>
      {{/link-to}}
    </li>

    <li class="language">
      {{language-switcher}}
    </li>

    <li class="cr-logo">
      <a href="http://www.crossroads.org.hk" class="menu-4">
        <img src="/assets/images/Global-Distribution_logo.gif" >
        <label>By <span>Crossroads Foundation</span></label>
      </a>
    </li>
  </ul>
</aside>
